---
import "../styles/global.css";

import { getCollection } from "astro:content";

import AuthorDetails from "../components/AuthorDetails.astro";
import Layout from "../layouts/Layout.astro";

const blogEntries = await getCollection("blog");
const blogs = blogEntries.map(({ slug, data }) => ({
  data,
  slug,
  url: `/posts/${slug}/`,
}));
---

<Layout title="David Taing - Fullstack Developer">
  <main>
    <div class="w-full md:px-0">
      <AuthorDetails title="David Taing" />
      <h2>Blog Posts</h2>
      <ul class="p-0">
        {
          blogs.map((blog) => (
            <article class="flex flex-col items-start justify-between group">
              <div class="relative w-full md:max-h-96 overflow-clip rounded-2xl group-hover:outline group-hover:outline-blue-300">
                {blog.data.image?.url && (
                  <img
                    src={blog.data.image.url}
                    alt=""
                    class="m-0 object-top aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
                  />
                )}
                <div class="absolute inset-0 rounded-2xl" />
              </div>
              <div class="max-w-xl">
                <div class="mt-8 flex items-center gap-x-4 text-xs">
                  <time datetime="2020-03-16" class="text-gray-500">
                    {blog.data.pubDate.toLocaleDateString()}
                  </time>
                </div>
                <div class="group relative">
                  <h3 class="mt-3 font-semibold leading-6">
                    <a href={blog.url}>
                      <span class="absolute inset-0" />
                      {blog.data.title}
                    </a>
                  </h3>
                  <p class="mt-5 line-clamp-3">{blog.data.description}</p>
                </div>
              </div>
            </article>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
